# MySQL data
/mysql/db

# MongoDB data
/mongodb/db/

# Redis data
/redis/db

# Elasticsearch data
/elasticsearch/data/
!/elasticsearch/data/.gitkeep

# Logstash JDBC 상태 및 드라이버
/logstash/state/*
!/logstash/state/.gitkeep
/logstash/drivers/*
!/logstash/drivers/.gitkeep

# IDE settings
.idea/

# macOS system file
.DS_Store
mysql/initdb.d/create_tuning.sql
mysql/initdb.d/insert_tuning.sql
